<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="css/accordion.css" />
</head>
<body>

  <div id="all">
    <ul id="ul">
      <li>
        <a href="javascript:;">数学</a>
        <ol id="first">
          <li class="active">物理</li>
          <li class="active">化学</li>
          <li class="active">生物</li>
        </ol>
      </li>
      <li>
        <a href="javascript:;">语文</a>
        <ol>
          <li class="active">地理</li>
          <li class="active">美术</li>
          <li class="active">音乐</li>
        </ol>
      </li>
      <li>
        <a href="javascript:;">英语</a>
        <ol>
          <li class="active">历史</li>
          <li class="active">电脑</li>
          <li class="active">政治</li>
        </ol>
      </li>
    </ul>
  </div>
  <script type="text/javascript" src="js/jquery1.7.js"></script>
  <script type="text/javascript" src="js/accordion.js"></script>
 </body>
</html>
