<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/calendar.css" />
</head>
<body>
  <div id="all">
    <p id="year"></p>
    <p id="month"></p>
    <p id="days"></p>
    <p id="week"></p>
    <p id="times"></p>
  </div>
  <script type="text/javascript" src="js/calendar.js"></script>
 </body>
</html>
