<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="css/randomPlage.css" />
</head>
<body>
  <div id="all">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <p></p>
    <div id="btn">
      <button id="start">开始</button>
      <button id="stop">停止</button>
    </div>
  </div>
  <script type="text/javascript" src="js/randomPlage.js"></script>
 </body>
</html>
