<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/boxMove.css" />
</head>
<body>
  <div id="container">
    <div id="box"></div>
  </div>
  <script type="text/javascript" src="js/boxMove.js"></script>
 </body>
</html>
