<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>活动展示</title>
		<link rel="stylesheet" type="text/css" href="../css/basics.css" />
		<link rel="stylesheet" type="text/css" href="../css/userOthers.css" />
	</head>

	<body>
		<div class="container" id="container">
			<header class="head" id="head" title="head">
				<div class="return" id="return">
					<a href="index2.html">
						<img src="../img/home.png" />
					</a>
				</div>
				<div class="contact" id="contact">
					<a href="javascript:;">
						<img src="../img/contact.png" />
					</a>
				</div>
			</header>
			<div class="content" id="content">
				<div>
					<div class="p1Set" id="p1Set">
						<div class="iconTitle"></div>
						<h3 class="pSetTitle">活动介绍</h3>
						<dl id="pic">
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season1.jpg" />
								<div class="conRight">
									<h5>立春</h5>
									<p>宜饮：茉莉花茶<br />立春，春季之始，此时天地阳气生发，与肝相应，人易暴怒、易感忧郁，而一杯暖暖的茉莉花茶，可安定情绪，舒缓神经。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season2.jpg" />
								<div class="conRight">
									<h5>雨水</h5>
									<p>宜饮：桔普<br />东风解冻散而为雨，此时气温回升，降水增多，故名雨水。多雨的初春，乍暖还寒，寒湿之邪最易困着脾脏，桔普健脾行气，最是适宜。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season3.jpg" />
								<div class="conRight">
									<h5>惊蛰</h5>
									<p>宜饮：白牡丹<br />天气回暖，春雷始鸣，惊醒蛰居的动物，故得名惊蛰。惊蛰时节阳气升发，气温明显升高。因暖生燥，惊蛰时节应保持心平气和，忌妄动肝火，白牡丹清肝明目、镇定降压。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season4.jpg" />
								<div class="conRight">
									<h5>春分</h5>
									<p>宜饮：陈年生普<br />“春分者，阴阳相半也，故昼夜均而寒暑平”，这一天，昼与夜几乎等分，并正是春季90天的中分点。依据道法自然的养生传统，人在此时需保持阴阳平衡，而有年份的普洱生茶，经历时间沉淀，茶性自然转化，渐温和。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season5.jpg" />
								<div class="conRight">
									<h5>清明</h5>
									<p>宜饮：白毫银针<br />万物生长此时，皆清洁而明净，故谓之清明。清明时节，适宜性味清凉的饮食，以便柔肝养肺，增强体质。一杯白毫银针，味温性凉，有健胃提神之效，祛湿退热之功，最是应时佳品。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season6.jpg" />
								<div class="conRight">
									<h5>谷雨</h5>
									<p>宜饮：洞庭碧螺春<br />谷雨，源自古人“雨生百谷”之说，意味着寒潮天气基本结束，气温回升加快，一杯时令的洞庭碧螺春，有丰富的氨基酸，提升体质。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season7.jpg" />
								<div class="conRight">
									<h5>立夏</h5>
									<p>宜饮：黄山毛峰<br />立夏，夏季的开始，此时百般红紫，万物繁茂。中医认为，暑易入心，而当令的黄山毛峰，滋味甘醇，强心养神，来自山野的新鲜气息，能助你保持神清气和，心情愉快。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season8.jpg" />
								<div class="conRight">
									<h5>小满</h5>
									<p>宜饮：太平猴魁<br />小满，夏熟谷物籽粒开始饱满。时至于此，降雨增多变大，要避免过量进食生冷食物，送上大杯的太平猴魁，雨季里添一份快慰。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season9.jpg" />
								<div class="conRight">
									<h5>芒种</h5>
									<p>宜饮：越乡龙井<br />芒种是收种带“芒”植物的季节，麦子熟了，而稻田则到了播种时节。仲夏五月，湿气开始蒸腾而闷热，故而饮食应清淡，悠然泡一碗越乡龙井，清淡适宜。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season10.jpg" />
								<div class="conRight">
									<h5>夏至</h5>
									<p>宜饮：安化天尖<br />夏至，夏为大，至为极，万物到此时壮大繁茂到极点、阳气也达到极致，所以是一年中夜最短、昼最长的一天。夏至时节应多食苦味食物，宜清补。安化天尖，甘润淳厚，生津不断。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season11.jpg" />
								<div class="conRight">
									<h5>小暑</h5>
									<p>宜饮：菊花普洱<br />小暑，意指天气开始炎热，但还没到最热。小暑是人体阳气最旺盛的时候，需劳逸结合，保护阳气，大碗冲泡菊花普洱，散风去热。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season12.jpg" />
								<div class="conRight">
									<h5>大暑</h5>
									<p>宜饮：蒙顶黄芽<br />大暑，极热之大者，标志着一年中最热的时节到来。高温酷热，需补脾健胃，蒙顶黄芽，富含茶多酚、氨基酸等，对脾胃最有好处。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeftCircle" src="../img/season13.jpg" />
								<div class="conRight">
									<h5>立秋</h5>
									<p>宜饮：恩施玉露<br />立秋，暑去凉来，秋季由此而始，却仍有“秋老虎”的酷热余威。立秋时节气候干燥，适宜品饮恩施玉露，茶味鲜爽，生津润燥。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
						</dl>
					</div>
					<div class="foot">
						<div id="scrollTop">
							<a href="javascript:;">
								<img src="../img/top.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="large" id="large"></div>
		</div>
	</body>
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/userOthers.js"></script>
	<script type="text/javascript" src="../js/jquery-2.1.1.min.js" ></script>

</html>