<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>签到</title>
		<link rel="stylesheet" type="text/css" href="../css/basics.css" />
		<link rel="stylesheet" type="text/css" href="../css/businessOthers.css" />
	</head>

	<body>
		<div class="container" id="container">
			<header class="head" id="head" title="head">
				<div class="return" id="returnHistory">
					<a href="index1.html">
						<img src="../img/returnHistory.png" />
					</a>
				</div>
				<p class="title">签到</p>
				<div class="contact" id="contact">
					<a href="javascript:;">
						<img src="../img/contact.png" />
					</a>
				</div>
			</header>
			<div class="content" id="CircleContent">
				<div class="everyDay" id="everyDay">一键签到</div>
				<p class="everyDayNo" id="everyDayNo">今日签到</p>
				<p class="everyDayYes" id="everyDayYes">已签到</p>
			</div>
			<footer class="footer" id="footer" title="footer">
				<a class="teaFooter" id="teaFooter1" href="globe.html">
					<label class="teaFooterPic teaFooterPic1"></label>
					<label class="teaFooterFont">圈子</label>
				</a>
				<a class="teaFooter" id="teaFooter2" href="index1.html">
					<label class="teaFooterPic teaFooterPic2"></label>
					<label class="teaFooterFont">我的</label>
				</a>
				<a class="teaFooter" id="teaFooter3" href="flag.html">
					<label class="teaFooterPic teaFooterPic3"></label>
					<label class="teaFooterFont">古树认养</label>
				</a>
			</footer>
		</div>
	</body>
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/jquery-2.1.1.min.js" ></script>
	<script type="text/javascript" src="../js/businessBasics.js"></script>
	<script type="text/javascript" src="../js/businessSet.js"></script>

</html>