<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>圈子</title>
		<link rel="stylesheet" type="text/css" href="../css/basics.css" />
		<link rel="stylesheet" type="text/css" href="../css/businessOthers.css" />
	</head>

	<body>
		<div class="container" id="container">
			<header class="head" id="head" title="head">
				<div class="return" id="return">
					<a href="index1.html">
						<img src="../img/home.png" />
					</a>
				</div>
				<p class="title">圈子</p>
				<div class="contact" id="contact">
					<a href="javascript:;">
						<img src="../img/contact.png" />
					</a>
				</div>
			</header>
			<div class="content" id="content">
				<div class="firstImg"></div>
				<div class="lookItem">
					<a href="circle.html">
						<div>
							<img src="../img/cirIcon.png" />
						</div>
						<p>茶圈</p>
					</a>
					<a href="talk.html">
						<div>
							<img src="../img/talkIcon.png" />
						</div>
						<p>话题</p>
					</a>
					<a href="everyDay.html">
						<div>
							<img src="../img/everyIcon.png" />
						</div>
						<p>签到</p>
					</a>
				</div>
				<div class="lookItem2">
					<a>
						<div>
							<img src="../img/teaDrink2.jpg" />
						</div>
						<p><strong>约茶圈</strong></p>
						<p class="smallP">关注：1686</p>
						<p class="smallP">话题：2050</p>
					</a>
					<a>
						<div>
							<img src="../img/teaDrink11.jpg" />
						</div>
						<p><strong>茶语试用中心</strong></p>
						<p class="smallP">关注：1686</p>
						<p class="smallP">话题：2050</p>
					</a>
					<a>
						<div>
							<img src="../img/teaDrink12.jpg" />
						</div>
						<p><strong>通茶语会知己</strong></p>
						<p class="smallP">关注：1686</p>
						<p class="smallP">话题：2050</p>
					</a>
				</div>
			</div>
			<footer class="footer" id="footer" title="footer">
				<a class="teaFooter" id="teaFooter1" href="globe.html">
					<label class="teaFooterPic teaFooterPic1"></label>
					<label class="teaFooterFont">圈子</label>
				</a>
				<a class="teaFooter" id="teaFooter2" href="index1.html">
					<label class="teaFooterPic teaFooterPic2"></label>
					<label class="teaFooterFont">我的</label>
				</a>
				<a class="teaFooter" id="teaFooter3" href="flag.html">
					<label class="teaFooterPic teaFooterPic3"></label>
					<label class="teaFooterFont">古树认养</label>
				</a>
			</footer>
		</div>
	</body>
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/jquery-2.1.1.min.js" ></script>
	<script type="text/javascript" src="../js/businessBasics.js"></script>
	<script type="text/javascript" src="../js/businessSet.js"></script>

</html>