<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>用户应用模块</title>
		<link rel="stylesheet" type="text/css" href="../css/index1.css" />
		<script type="text/javascript">
			document.addEventListener('plusready', function() {
				//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"
			});
		</script>
		<style>
			@font-face {
				font-family: indexTitle;
				src: url(../fonts/hyi4gjm.ttf);
			}
			
			.container {
				font: 50px/180% indexTitle;
			}
		</style>
	</head>

	<body>
		<div class="container" id="container">
			<ul class="nav nav1" id="nav1">
				<li>
					<a href="teaGardenShow.html">
						<img src="../img/tea5.png" />
						<p>茶园介绍</p>
					</a>
				</li>
				<li>
					<a href="productDisplay.html">
						<img src="../img/tea5.png" />
						<p>产品介绍</p>
					</a>
				</li>
				<li>
					<a href="eventShow.html">
						<img src="../img/tea5.png" />
						<p>活动介绍</p>
					</a>
				</li>
				<li>
					<a href="knowledgeIntroduction.html">
						<img src="../img/tea5.png" />
						<p>知识介绍</p>
					</a>
				</li>
				<li>
					<a href="singlePurchase.html">
						<img src="../img/tea5.png" />
						<p>下单购买</p>
					</a>
				</li>
			</ul>
		</div>
	</body>

</html>