<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>茶园管理</title>
		<link rel="stylesheet" type="text/css" href="../css/basics.css" />
		<link rel="stylesheet" type="text/css" href="../css/businessOthers.css" />
	</head>

	<body>
		<div class="container" id="container">
			<header class="head" id="head" title="head">
				<div class="return" id="return">
					<a href="index1.html">
						<img src="../img/home.png" />
					</a>
				</div>
				<p class="title">我的</p>
				<div class="contact" id="contact">
					<a href="javascript:;">
						<img src="../img/contact.png" />
					</a>
				</div>
			</header>
			<div class="content" id="content">
				<div>
					<div class="p1Set" id="p1Set">
						<div class="iconTitle"></div>
						<h3 class="pSetTitle">茶园管理</h3>
					</div>
					<ul class="addItemShow" id="addItemShow"></ul>
					<div class="addItem" id="addItem">增加茶园</div>
					<div class="addItem" id="addItem_">增加茶叶</div>
					<div class="addItem" id="returnSubmit">退出登录</div>
				</div>
			</div>
			<footer class="footer" id="footer" title="footer">
				<a class="teaFooter" id="teaFooter1" href="globe.html">
					<label class="teaFooterPic teaFooterPic1"></label>
					<label class="teaFooterFont">圈子</label>
				</a>
				<a class="teaFooter" id="teaFooter2" href="index1.html">
					<label class="teaFooterPic teaFooterPic2"></label>
					<label class="teaFooterFont">我的</label>
				</a>
				<a class="teaFooter" id="teaFooter3" href="flag.html">
					<label class="teaFooterPic teaFooterPic3"></label>
					<label class="teaFooterFont">古树认养</label>
				</a>
			</footer>
		</div>
	</body>
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/jquery-2.1.1.min.js" ></script>
	<script type="text/javascript" src="../js/businessBasics.js"></script>
	<script type="text/javascript" src="../js/businessSet.js"></script>

</html>