<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>知识介绍</title>
		<link rel="stylesheet" type="text/css" href="../css/basics.css" />
		<link rel="stylesheet" type="text/css" href="../css/userOthers.css" />
	</head>

	<body>
		<div class="container" id="container">
			<header class="head" id="head" title="head">
				<div class="return" id="return">
					<a href="index2.html">
						<img src="../img/home.png" />
					</a>
				</div>
				<div class="contact" id="contact">
					<a href="javascript:;">
						<img src="../img/contact.png" />
					</a>
				</div>
			</header>
			<div class="content" id="content">
				<div>
					<div class="p1Set" id="p1Set">
						<div class="iconTitle"></div>
						<h3 class="pSetTitle">知识介绍</h3>
						<div class="picturePanel">
							<div id="slides">
								<img src="../img/teaPic8.jpg">
								<img src="../img/teaPic10.jpg">
								<img src="../img/teaPic12.jpg">
								<img src="../img/teaPic13.jpg">
								<img src="../img/teaDrink3.jpg">
								<a href="#" class="slidesjs-previous slidesjs-navigation">向左</a>
								<a href="#" class="slidesjs-next slidesjs-navigation">向右</a>
							</div>
						</div>
						<div id="tabPanel">
							<ul id="tabsHeader">
								<li>
									<a href="javascript:;">茶园介绍</a>
								</li>
								<li>
									<a href="javascript:;" class="tabActive">产品介绍</a>
								</li>
								<li>
									<a href="javascript:;">活动介绍</a>
								</li>
							</ul>
							<ol class="contenTabs">
								<li>
									<h6>祁红茶园</h6>
									<dl>
										<dd>
											<a href="#">茶园名称：祁红茶园</a>
										</dd>
										<dd>
											<a href="#">茶园产地：安徽祁门</a>
										</dd>
										<dd>
											<a href="#">茶园设备：纯手工制造</a>
										</dd>
									</dl>
								</li>
							</ol>
							<ol class="contenTabs first">
								<li>
									<h6>红茶</h6>
									<p>祁门红茶，简称祁红，是中国传统功夫红茶的珍品，为历史名茶，出产于19世纪后期，是世界三大高香茶之一，有“茶中英豪”，“群芳最”，“王子茶”等美誉。祁门红茶依其品质高低分为1～7级，主要产于安徽省祁门县，与其毗邻的石台，东至，黟县及贵池等县也有少量生产，主要出口英国，荷兰，德国，日本，俄罗斯等几十个国家和地区，多年来一直是中国的国事礼茶。</p>
								</li>
							</ol>
							<ol class="contenTabs">
								<li>
									<h6>处暑</h6>
									<p class="quoteP">处，去也，暑气至此而止矣。处暑时节，新秋已觉凉生。但夏秋之交气候变化大，适宜来泡祁红，解疲乏，滋阴润燥。</p>
								</li>
							</ol>
						</div>

					</div>
					<div class="foot">
						<div id="scrollTop">
							<a href="javascript:;">
								<img src="../img/top.png">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/userOthers.js"></script>
	<script type="text/javascript" src="../js/jquery-2.1.1.min.js" ></script>
	<script type="text/javascript" src="../js/jquery.slides.min.js"></script>
	<script type="text/javascript" src="../js/picturePanel.js"></script>

</html>