<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>产品展示</title>
		<link rel="stylesheet" type="text/css" href="../css/basics.css" />
		<link rel="stylesheet" type="text/css" href="../css/userOthers.css" />
	</head>

	<body>
		<div class="container" id="container">
			<header class="head" id="head" title="head">
				<div class="return" id="return">
					<a href="index2.html">
						<img src="../img/home.png" />
					</a>
				</div>
				<div class="contact" id="contact">
					<a href="javascript:;">
						<img src="../img/contact.png" />
					</a>
				</div>
			</header>
			<div class="content" id="content">
				<div>
					<div class="p1Set" id="p1Set">
						<div class="iconTitle"></div>
						<h3 class="pSetTitle">产品介绍</h3>
						<dl id="pic">
							<dt>
								<img class="imgLeft imgLeft_" src="../img/teaDrink2.jpg" />
								<div class="conRight">
									<h5>岩茶</h5>
									<p>岩岩有茶，非岩不茶”，岩茶因而得名。属半发酵茶，青茶（乌龙茶），以“岩骨花香”的独特岩韵著称。主产区为中国福建武夷山茶区。武夷山茶区坐落在福建省东北部，有“奇秀 甲于东南”之誉。群峰相连，峡谷纵横，九曲溪萦回其间，气候温和，冬暖夏凉，雨量充沛。武夷山悬崖绝壁，深坑巨谷。利用岩凹、石隙、石缝，沿边砌筑石岸，构筑“盆栽式”茶园。武夷岩茶也是中国十大名茶之一，大红袍是武夷岩茶之王</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeft_" src="../img/teaDrink3.jpg" />
								<div class="conRight">
									<h5>白茶</h5>
									<p>白茶，属微发酵茶，是中国茶农创制的传统名茶。中国六大茶类之一。指一种采摘后，不经杀青或揉捻，只经过晒或文火干燥后加工的茶。具有外形芽毫完整，满身披毫，毫香清鲜，汤色黄绿清澈，滋味清淡回甘的的品质特点。 属轻微发酵茶，是中国茶类中的特殊珍品。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeft_" src="../img/teaDrink4.jpg" />
								<div class="conRight">
									<h5>碧螺春</h5>
									<p>古人们又称碧螺春为“功夫茶”、“新血茶”。高级的碧螺春，茶芽之细嫩0.5公斤干茶需要茶芽6-7万个。炒成后的干茶条索紧结，白毫显露，色泽银绿，翠碧诱人，卷曲成螺，产于春季，故名“碧螺春”。此茶冲泡后杯中白云翻滚，清香袭入，是中国的名茶。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeft_" src="../img/teaDrink5.jpg" />
								<div class="conRight">
									<h5>红茶</h5>
									<p>祁门红茶，简称祁红，是中国传统功夫红茶的珍品，为历史名茶，出产于19世纪后期，是世界三大高香茶之一，有“茶中英豪”，“群芳最”，“王子茶”等美誉。祁门红茶依其品质高低分为1～7级，主要产于安徽省祁门县，与其毗邻的石台，东至，黟县及贵池等县也有少量生产，主要出口英国，荷兰，德国，日本，俄罗斯等几十个国家和地区，多年来一直是中国的国事礼茶。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeft_" src="../img/teaDrink6.jpg" />
								<div class="conRight">
									<h5>茉莉花茶</h5>
									<p>茉莉花茶是将茶叶和茉莉鲜花进行拼和、窨制，使茶叶吸收花香而成的茶叶，其香气鲜灵持久、滋味醇厚鲜爽、汤色黄绿明亮、叶底嫩匀柔软。经过一系列工艺流程窨制而成的茉莉花茶，具有安神、解抑郁、健脾理气、抗衰老防辐射、提高机体免疫力的功效。</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
						</dl>
					</div>
					<div class="foot">
						<div id="scrollTop">
							<a href="javascript:;">
								<img src="../img/top.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="large" id="large"></div>
		</div>
	</body>
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/userOthers.js"></script>
	<script type="text/javascript" src="../js/jquery-2.1.1.min.js" ></script>

</html>