<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>下单购买</title>
		<link rel="stylesheet" type="text/css" href="../css/basics.css" />
		<link rel="stylesheet" type="text/css" href="../css/userOthers.css" />
	</head>

	<body>
		<div class="container" id="container">
			<header class="head" id="head" title="head">
				<div class="return" id="return">
					<a href="index2.html">
						<img src="../img/home.png" />
					</a>
				</div>
				<div class="contact" id="contact">
					<a href="javascript:;">
						<img src="../img/contact.png" />
					</a>
				</div>
			</header>
			<div class="content" id="content">
				<div>
					<div class="p1Set1" id="p1Set1">
						<div class="iconTitle"></div>
						<h3 class="pSetTitle">下单购买</h3>
						<dl id="pic">
							<dt>
								<img class="imgLeft imgLeft1" src="../img/teaDrink7.jpg" />
								<div class="conRight1">
									<h5>祁红茶园</h5>
									<a href="tel:0755-10086">打电话给:0755-10086</a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft imgLeft1" src="../img/teaLife1.jpeg" />
								<div class="conRight1">
									<h5>白茶园</h5>
									<a href="tel:0755-10086">打电话给:0755-10010</a>
								</div>
							</dt>
						</dl>
					</div>
					<div class="addItem" id="returnSubmit">退出登录</div>
					<div class="foot">
						<div id="scrollTop">
							<a href="javascript:;">
								<img src="../img/top.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="large" id="large"></div>
		</div>
	</body>
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/userOthers.js"></script>
	<script type="text/javascript" src="../js/jquery-2.1.1.min.js" ></script>

</html>