<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>话题</title>
		<link rel="stylesheet" type="text/css" href="../css/basics.css" />
		<link rel="stylesheet" type="text/css" href="../css/businessOthers.css" />
	</head>

	<body>
		<div class="container" id="container">
			<header class="head" id="head" title="head">
				<div class="return" id="returnHistory">
					<a href="index1.html">
						<img src="../img/returnHistory.png" />
					</a>
				</div>
				<p class="title">话题</p>
				<div class="contact" id="contact">
					<a href="javascript:;">
						<img src="../img/contact.png" />
					</a>
				</div>
			</header>
			<div class="content" id="CircleContent">
				<div class="circleP">
					<img src="../img/teaDrink8.jpg" class="cirImg" />
					<div class="circleRight">
						<p class="talkP">
							<strong># 活动 # 馨香满五月  茶</strong> 值此佳节，推出“母亲节”有奖征集活动
						</p>
						<div class="talkMS">
							<div class="talkMessage"></div>
							<div class="talkSeeDiv">86</div>
						</div>
						<div class="talkMS">
							<div class="talkSee"></div>
							<div class="talkSeeDiv">6060</div>
						</div>
					</div>
				</div>
				<div class="circleP">
					<img src="../img/teaDrink9.jpg" class="cirImg" />
					<div class="circleRight">
						<p class="talkP">
							<strong># 活动 # 谷雨时节  茶</strong> 谷雨不仅是春天最后的节气，也是“全民饮茶日”
						</p>
						<div class="talkMS">
							<div class="talkMessage"></div>
							<div class="talkSeeDiv">163</div>
						</div>
						<div class="talkMS">
							<div class="talkSee"></div>
							<div class="talkSeeDiv">10000</div>
						</div>
					</div>
				</div>
				<div class="circleP">
					<img src="../img/teas2.jpeg" class="cirImg"/>
					<div class="circleRight">
						<p class="talkP">
							<strong># 晒茶记 # 蹭茶  茶</strong> 茉莉花茶银绣球试饮报告
						</p>
						<div class="talkMS">
							<div class="talkMessage"></div>
							<div class="talkSeeDiv">206</div>
						</div>
						<div class="talkMS">
							<div class="talkSee"></div>
							<div class="talkSeeDiv">20000</div>
						</div>
					</div>
				</div>
				<div class="circleP">
					<img src="../img/teaDrink12.jpg" class="cirImg"/>
					<div class="circleRight">
						<p class="talkP">
							<strong># 晒茶记 # 蹭茶  茶</strong> 玫瑰茶试饮报告
						</p>
						<div class="talkMS">
							<div class="talkMessage"></div>
							<div class="talkSeeDiv">206</div>
						</div>
						<div class="talkMS">
							<div class="talkSee"></div>
							<div class="talkSeeDiv">20000</div>
						</div>
					</div>
				</div>
				<div class="circleP">
					<img src="../img/teaPic12.jpg" class="cirImg"/>
					<div class="circleRight">
						<p class="talkP">
							<strong># 晒茶记 # 蹭茶  茶</strong> 绿茶试饮报告
						</p>
						<div class="talkMS">
							<div class="talkMessage"></div>
							<div class="talkSeeDiv">206</div>
						</div>
						<div class="talkMS">
							<div class="talkSee"></div>
							<div class="talkSeeDiv">20000</div>
						</div>
					</div>
				</div>
				<div class="circleP">
					<img src="../img/teaDrink5.jpg" class="cirImg"/>
					<div class="circleRight">
						<p class="talkP">
							<strong># 晒茶记 # 蹭茶  茶</strong> 大红袍试饮报告
						</p>
						<div class="talkMS">
							<div class="talkMessage"></div>
							<div class="talkSeeDiv">206</div>
						</div>
						<div class="talkMS">
							<div class="talkSee"></div>
							<div class="talkSeeDiv">20000</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer" id="footer" title="footer">
				<a class="teaFooter" id="teaFooter1" href="globe.html">
					<label class="teaFooterPic teaFooterPic1"></label>
					<label class="teaFooterFont">圈子</label>
				</a>
				<a class="teaFooter" id="teaFooter2" href="index1.htmll">
					<label class="teaFooterPic teaFooterPic2"></label>
					<label class="teaFooterFont">我的</label>
				</a>
				<a class="teaFooter" id="teaFooter3" href="flag.html">
					<label class="teaFooterPic teaFooterPic3"></label>
					<label class="teaFooterFont">古树认养</label>
				</a>
			</footer>
		</div>
	</body>
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/jquery-2.1.1.min.js" ></script>
	<script type="text/javascript" src="../js/businessBasics.js"></script>
	<script type="text/javascript" src="../js/businessSet.js"></script>

</html>