<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>茶园展示</title>
		<link rel="stylesheet" type="text/css" href="../css/basics.css" />
		<link rel="stylesheet" type="text/css" href="../css/userOthers.css" />
	</head>

	<body>
		<div class="container" id="container">
			<header class="head" id="head" title="head">
				<div class="return" id="return">
					<a href="index2.html">
						<img src="../img/home.png" />
					</a>
				</div>
				<div class="contact" id="contact">
					<a href="javascript:;">
						<img src="../img/contact.png" />
					</a>
				</div>
			</header>
			<div class="content" id="content">
				<div>
					<div class="p1Set" id="p1Set">
						<div class="iconTitle"></div>
						<h3 class="pSetTitle">茶园介绍</h3>
						<dl id="pic">
							<dt>
								<img class="imgLeft" src="../img/teaPic1.jpg" />
								<div class="conRight">
									<h5>岩茶园</h5>
									<p>产自武夷山<br />标准自动化设备</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft" src="../img/teaPic14.jpg" />
								<div class="conRight">
									<h5>白茶园</h5>
									<p>产自福鼎<br />炒制</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft" src="../img/teaPic7.jpg" />
								<div class="conRight">
									<h5>碧螺春茶园</h5>
									<p>产自洞庭湖<br />手工</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft" src="../img/teaPic9.jpg" />
								<div class="conRight">
									<h5>祁红茶园</h5>
									<p>产自安徽祁门<br />纯手工制造</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
							<dt>
								<img class="imgLeft" src="../img/teaPic11.jpg" />
								<div class="conRight">
									<h5>茉莉花茶园</h5>
									<p>产自峨眉山<br />纯手工制造</p>
									<a href="javascript:;" class="showImg"><span>+</span><font>查看大图</font></a>
								</div>
							</dt>
						</dl>
					</div>
					<div class="foot">
						<div id="scrollTop">
							<a href="javascript:;">
								<img src="../img/top.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="large" id="large"></div>
		</div>
	</body>
	<script type="text/javascript" src="../js/zepto.min.js"></script>
	<script type="text/javascript" src="../js/userOthers.js"></script>
	<script type="text/javascript" src="../js/jquery-2.1.1.min.js" ></script>

</html>