<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="css/tab0.css" />
</head>
<body>

  <div id="all">
    <div id="content">
      <div id="header">
        <ul>
          <li>
            <a href="javascript:;">新闻</a>
          </li>
          <li>
            <a href="javascript:;">阅读</a>
          </li>
          <li>
            <a href="javascript:;">音乐</a>
          </li>
          <li>
            <a href="javascript:;">电影</a>
          </li>
        </ul>
      </div>
      <div id="container">
        <div class="pic pic1">
          <dl>
            <dt>
              <img src="img/ps2.jpg" />
            </dt>
            <dd>圣诞节</dd>
          </dl>
          <table class="content_img">
            <tr>
              <td>
                <img src="img/ps2_1.jpg" />
                <p>圣诞节1</p>
              </td>
              <td>
                <img src="img/ps2_2.jpg" />
                <p>圣诞节1</p>
              </td>
              <td>
                <img src="img/ps2_4.jpg" />
                <p>圣诞节1</p>
              </td>
            </tr>
            <tr>
              <td>
                <img src="img/ps1_2.jpg" />
                <p>圣诞节1</p>
              </td>
              <td>
                <img src="img/ps2_5.jpg" />
                <p>圣诞节1</p>
              </td>
              <td>
                <img src="img/ps1_1.jpg" />
                <p>圣诞节1</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="pic">
          <dl>
            <dt>
              <img src="img/ps2_3.jpg" />
            </dt>
            <dd>圣诞节</dd>
          </dl>
          <table class="content_img">
            <tr>
              <td>
                <img src="img/ps2_1.jpg" />
                <p>圣诞节2</p>
              </td>
              <td>
                <img src="img/ps2_2.jpg" />
                <p>圣诞节2</p>
              </td>
              <td>
                <img src="img/ps2_4.jpg" />
                <p>圣诞节2</p>
              </td>
            </tr>
            <tr>
              <td>
                <img src="img/ps1_2.jpg" />
                <p>圣诞节2</p>
              </td>
              <td>
                <img src="img/ps2_5.jpg" />
                <p>圣诞节2</p>
              </td>
              <td>
                <img src="img/ps1_1.jpg" />
                <p>圣诞节2</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="pic">
          <dl>
            <dt>
              <img src="img/ps2_6.jpg" />
            </dt>
            <dd>圣诞节</dd>
          </dl>
          <table class="content_img">
            <tr>
              <td>
                <img src="img/ps2_1.jpg" />
                <p>圣诞节3</p>
              </td>
              <td>
                <img src="img/ps2_2.jpg" />
                <p>圣诞节3</p>
              </td>
              <td>
                <img src="img/ps2_4.jpg" />
                <p>圣诞节3</p>
              </td>
            </tr>
            <tr>
              <td>
                <img src="img/ps1_2.jpg" />
                <p>圣诞节3</p>
              </td>
              <td>
                <img src="img/ps2_5.jpg" />
                <p>圣诞节3</p>
              </td>
              <td>
                <img src="img/ps1_1.jpg" />
                <p>圣诞节3</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="pic">
          <dl>
            <dt>
              <img src="img/ps2.jpg" />
            </dt>
            <dd>圣诞节</dd>
          </dl>
          <table class="content_img">
            <tr>
              <td>
                <img src="img/ps2_1.jpg" />
                <p>圣诞节4</p>
              </td>
              <td>
                <img src="img/ps2_2.jpg" />
                <p>圣诞节4</p>
              </td>
              <td>
                <img src="img/ps2_4.jpg" />
                <p>圣诞节4</p>
              </td>
            </tr>
            <tr>
              <td>
                <img src="img/ps1_2.jpg" />
                <p>圣诞节4</p>
              </td>
              <td>
                <img src="img/ps2_5.jpg" />
                <p>圣诞节4</p>
              </td>
              <td>
                <img src="img/ps1_1.jpg" />
                <p>圣诞节4</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/tab0.js"></script>
 </body>
</html>
