<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>代码小效果记录</h1>
    <div class="box" id="box">
      <p><a href="./mrh/jsSmallChange">利用JS改变宽高及颜色</a></p>
      <p><a href="./mrh/returnTop">返回顶部（JS + JQ）</a></p>
      <p><a href="./mrh/tab0">选项卡（新闻网站设置形式，JS）</a></p>
      <p><a href="./mrh/accordion">手风琴（JS，注释为JQ）</a></p>
      <p><a href="./mrh/monthJudge">根据月份判断天数和季节（JS）</a></p>
      <p><a href="./mrh/randomPlage">随机数双色球形式（JS）</a></p>
      <p><a href="./mrh/calendar">日历（JS）</a></p>
      <p><a href="./mrh/countDown">倒计时（JS）</a></p>
      <p><a href="./mrh/boxMove">盒子随鼠标移动（JS）</a></p>
      <p><a href="./mrh/pictureCarousel">图片轮播（JS）</a></p>
    </div>
  </body>
</html>
