<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="css/monthJudge.css" />
</head>
<body>
  <div id="all">
    <h3>月份判断天数</h3>
    <input type="text" id="month" />
    <button id="show">显示天数</button>
    <div id="days">30</div>
  </div>
  <div id="all1">
    <h3>月份判断季节</h3>
    <input type="text" id="month1" />
    <button id="show1">显示季节</button>
    <div id="look">春天</div>
  </div>
  <script type="text/javascript" src="js/monthJudge.js"></script>
 </body>
</html>
