* {
	margin: 0;
	padding: 0;
	background-color: #fffbf0;
}

#all {
	width: 250px;
	height: 300px;
	margin: 60px auto;
	border: 1px solid #DADADA;
	border-style: solid none none none;
}

#all p {
	width: 100%;
	height: 56px;
	text-align: center;
	line-height: 56px;
	font-family: "微软雅黑";
	font-size: 18px;
	border: 1px solid #DADADA;
	border-style: none solid solid solid;
}

#year {
	background-color: #FA8072;
}
